// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$new: #4e4adb;

// Override Bootstrap default state colors

$primary: $new;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
